# -------------------------
# PYTHON CACHE
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pydc

# -------------------------
# VIRTUAL ENV
# -------------------------
venv/
env/
.venv/

# -------------------------
# ENV FILES
# -------------------------
.env
.env.*

# -------------------------
# VERSION CONTROL
# -------------------------
.git/
.gitignore

# -------------------------
# IDE / EDITORS
# -------------------------
.idea/
.vscode/
*.swp

# -------------------------
# DATABASE FILES (DEV)
# -------------------------
*.sqlite3
db.sqlite3

# -------------------------
# DOCKER
# -------------------------
docker-compose.override.yml
Dockerfile
.dockerignore

# -------------------------
# LOGS
# -------------------------
*.log

# -------------------------
# TESTS / CACHE
# -------------------------
.coverage
.pytest_cache/
.mypy_cache/

# -------------------------
# DJANGO SPECIFIC
# -------------------------
media/
staticfiles/
static/

# -------------------------
# NODE (si frontend existe)
# -------------------------
node_modules/

# -------------------------
# MAC / SYSTEM
# -------------------------
.DS_Store
Thumbs.db